.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header
{
background-color:white;
position: absolute;
top:0px;
width:100%;
}

a{
text-decoration: none;
color: white;
}

.headeratas
{
  background-color:black;
  color: white;
  height:70px;
  text-align: left;
  padding:20px;
}

.menu 
{
  color: white;
  position:relative;
  top:6px;
  margin: 10px;
}

.Container
{
  width:50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
